[Unit]
Description=Daemon for PANBGP controller
After=network.target

[Service]
ExecStart=/usr/bin/python3 /panbgp/main.py
User=root

[Install]
WantedBy=multi-user.target
